.keywords{
    margin-top: 2%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    color:#333;
    margin-bottom: 0.5%;
    float: left;
    width: 100%;
}